<style>
	@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
</style>

<div class="refs">
	<a class="refs__back" href="https://cainaican.github.io/portfolio/" title="back">
		<img class="refs__back-img" src="../assets/backPr.png" alt="portfolio" />
	</a>
	<a class="refs__back" href="https://github.com/cainaican/avia-angular" title="repo in github">
		<img class="refs__back-img" src="../assets/ghPr.png" alt="gitHub" />
	</a>
</div>

<div class="logo-panel">
	<app-logo-panel></app-logo-panel>
</div>

<div class="filter-panel">
	<app-filter-panel></app-filter-panel>
</div>

<div class="tickets-panel">
	<app-tickets-panel></app-tickets-panel>
</div>
