<div>
  <app-button
    [textButton]="'Самый дешевый'"
    [roundCornerClass]="eRoundCorner().left"

  ></app-button>

  <app-button
    [textButton]="'Самый быстрый'"

  ></app-button>

  <app-button
    [textButton]="'оптимальный'"
    [roundCornerClass]="eRoundCorner().right"

  ></app-button>
</div>
<div>
  <ng-template [ngIf]="ticketsForModel">
    <ng-template ngFor let-item [ngForOf]="ticketsForModel">
      <app-ticket [model]="item">
    
      </app-ticket>
    </ng-template>
  </ng-template>
</div>
