<div>
  <app-button
    [textButton]="'Самый дешевый'"
    [roundCornerClass]="eRoundCorner().left"

  ></app-button>

  <app-button
    [textButton]="'Самый быстрый'"

  ></app-button>

  <app-button
    [textButton]="'оптимальный'"
    [roundCornerClass]="eRoundCorner().right"

  ></app-button>
</div>
<div>
  <ng-template [ngIf]="tickets$">
    <ng-template ngFor let-ticket [ngForOf]="tickets$ | async">
      <app-ticket [model]="ticket">
    
      </app-ticket>
    </ng-template>
  </ng-template>
</div>
