<div class="price">13400</div>
<div class="company-logo">
  <img src="./assets/s7-logo.svg" alt="">
</div>
<div class="flights">
  <div class="from-to">
    <div class="from-to-dest" > mow-hkt </div>
    <div class="from-to-time" > 10:45 – 08:00 </div>
  </div>
  <div class="flight-time">
    <div class="flight-time-caption" > В пути </div>
    <div class="flight-time-hours" > 21ч 15м </div>
  </div>
  <div class="transfers">
    <div class="transfers-number" > 2 пересадки </div>
    <div class="transfers-cities" > HKG, JNB </div>
  </div>
</div>
